$font-family-default: "Rubik", sans-serif;
$fs-default: 1.8rem;

$clr-primary-blue: #5847eb;
$clr-primary-light-red-work: #ff8c66;
$clr-primary-soft-blue: #56c2e6;
$clr-primary-light-red-study: #ff5c7c;
$clr-primary-lime-green: #4acf81;
$clr-primary-violet: #7536d3;
$clr-primary-soft-orange: #f1c65b;
$clr-primary-hover-blue: #33397a;
$clr-neutral-very-dark-blue: #0f1424;
$clr-neutral-dark-blue: #1c1f4a;
$clr-neutral-desaturated-blue: #6f76c8;
$clr-neutral-pale-blue: #bdc1ff;
$clr-neutral-white: #ffffff;

$fs-heading-xl: 5.6rem;
$lh-heading-xl: 6.633rem;

$fs-heading-l: 4rem;
$lh-heading-l: 4.74rem;

$fs-body: 1.8rem;
$lh-body: 2.133rem;

$fs-body-s: 1.5rem;
$lh-body-s: 1.778rem;

$main-border-radius: 1.5rem;
